.App {
  text-align: center;
}

.nav-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 3px;
  background-color: #F99D1C;
}

.page{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.comp {
  border: 5px solid blue;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.categories-container {
  width: 30%;
  border: 5px solid yellow;
  border-radius: 20px;
}

.posts-container {
  display: flex;
}

.feed-container {
  border: 5px solid green;
  border-radius: 20px;
}

.post-container {
  border: 5px solid red;
  border-radius: 20px;
}

header {
  width:80%;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.new-post-container {
  width: 70%
}

.profile-container {
  border: 5px solid purple;
  border-radius: 20px;
  width: 30%
}

.App-logo {
/*   width:100%; */
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo[spin='true'] {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
